*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

#main{
    width: 100%;
    height: 800px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    overflow: hidden;
    position: relative; /* 부모기준 : 자식요소의 위치값 설정(원형) */
}

h1{
    position: absolute;
    top: 40%;
    left: 10%;
    font: 900 80px '';
    animation-name: text_1; /*효과를 넣을 때 꼭 이름을 선언*/
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-fill-mode: both; /* 애니메이션이 끝난 후 요소의 상태를 지정 */
}

p{
    position: absolute;
    top: 53%;
    left: 20%;
    font: 30px '';
    animation-name: text_2; /*효과를 넣을 때 꼭 이름을 선언*/
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-fill-mode: both; 
}

.object{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: linear-gradient(120deg, #bcb6fd 0%, #0c66f7 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    animation-name: obj; /*효과를 넣을 때 꼭 이름을 선언*/
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-fill-mode: both; 
}

/* 애니메이션 */
@keyframes text_1 {
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(-50px);
    }
    
}

@keyframes text_2{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(-50px);
    }
    
}

@keyframes obj {
    0%{
        opacity: 0;
        transform: translateY(800px), scale(0.5);
    }
    100%{
        opacity: 1;
        transform: translateY(0), scale(1);
    }
    
}